*{
    padding: 0%;
    margin: 0%;
}
body{
    background-image: url(../img/fondo.jpg);
}
.contenedor{
    background-color: lightblue;
    background-image: url(../img/compritas.jpg);
    box-shadow: 2px 1px 24px 19px #3e88f7;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 85%;
    margin: 1% auto 2%;
    padding: 4%;
    
}
h1{
    color: rgb(37, 7, 75);
    text-shadow: 7px 4px 5px rgb(95, 95, 231);
    font-family: 'Rubik Moonrocks', cursive;
    font-weight: 100;
    font-size: 2vw;
}
.general{
    background-color: lightsteelblue;
    margin: 1% ;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(10, 36, 85);
    border-radius: 10px;
    font-size: 1.2vw;
}

table{
    width: 95%;
    margin: 1% auto;
    border-collapse: collapse;
}

th, td, tr{
    text-align: center;
    border-bottom: 1px solid rgb(82, 182, 168);
    padding: 1.5%;
}
.peq{
    flex-basis: 1;
    width: 44%;
}
.sup{
    position: absolute;
    right: 9%;
    flex-basis: 2;
    width: 80%;
}
#divVentas{
    flex-basis: 2;
    width: 90%;
}
span{
    color:rgb(192, 12, 147);
    font-size: 1.9vw;
    font-weight: bold;  
    font-family: 'Rubik Puddles', cursive;

}
.header{
    background-color: rgb(103, 160, 216);
    padding: 1em;
    border-radius: 10px;
    box-shadow: 2px 1px 24px 19px #6093f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.destacados{
    width: 90%;
    padding: 2%;
    margin: 1% auto;
    margin-top: 2%;
}
.sup p{
    padding: 2%;
}
.overlay{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(145, 62, 212, 0.274);
    backdrop-filter: blur(5px);
    z-index: 101;
}

/*boton nueva venta*/
.btngral{
    background-color: lightgreen;
    color: rgb(81, 160, 199);
    padding: 0.8% 1%;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2vw;
    font-family: 'Merienda', cursive;
}
.mas{
    background-color: #35c0b4;
    color: black;
}
/*modal*/
.modal{
    width: 22em;
    background-image: url();
    position: fixed;
    top: 15%;
    left: 25%;
    right: 25%;
    margin: 0% auto;
    color: white;
    font-family: 'Gluten', cursive;
    z-index: 102;
}
form{
    display: flex;
    flex-wrap: wrap;
}
.footer{
    background-color: rgba(56, 219, 219, 0.534);
    text-align: right;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 12px #35c0b4;
}
input{
    margin: 1% 5%;
    background-color: rgb(243, 193, 201);
    border-radius: 10px;
    font-family: 'Merienda', cursive;
}
label{
    width: 90%;
    margin: 2% auto;
}
select{
    width: 90%;
    margin: 1% auto;
    background-color: rgb(243, 193, 201);
    border-radius: 10px;
    font-family: 'Merienda', cursive;
}
.hidden{
    display: none;
}
.footer .button{
    padding: 0.8% 1%;
    border-radius: 10px;
    margin: 2%;
    cursor: pointer;
}
.cancelar{
    background-color: rgb(224, 102, 46);
}
.eliminar{
    background-color: rgb(223, 55, 55);
}
h2{
    margin: 4% auto;
}
.pEliminar{
    margin: 4% auto;
    padding: 2%;
}
.green{
    background-color: rgb(123, 238, 123);
}
.btnacciones{
    padding: 2%;
    border-radius: 10px;
    margin: 1%;
    cursor: pointer;
    background-color: inherit;
    border: none;
    font-size: 1vw;
}
.verde{
    color: rgb(111, 137, 223);
}

.rojo{
    color: rgb(223, 55, 55);
}
@media (max-width: 768px){
    .contenedor{
        flex-wrap: wrap;
        padding: 1%;
        padding-top: 5%;
        width: 90%;
    }
    .general{
        flex-basis: 90%;
        text-align: center;
        font-size: 2vw;
    }
    #divVentas{
        font-size: 1.8vw;
    }
    td, th{
        text-align: center;
    }
    span{
        font-size: 2vw;
    }
    .sup{
        height: 25em;
    }
    /*h1{
        font-size: 2.5rem;
    }
    .segunda, .cuarta{
        margin: 4% auto;
        padding-top: 8%;
        width: 90%;
    }
    .quinta{
        width: 90%;
        flex-wrap: wrap;
    }
    .c1{
        width: 45%;
        margin: 3% 1%;
        padding: 1%;
    }*/
}
@media (max-width: 425px){

    .divflex{
        flex-direction: column;
        justify-content: space-around;
    }
    .primera{
        
        padding-top: 2%;
    }
    .imagen{
        flex-basis: 75%;
    }
    .c1{
        width: 75%;
        margin: 1% auto;
    }
    .quinta{
        flex-direction: column;
        padding: 2%;
    }
    .columna{
        text-align: justify;
    }
    .cajaform{
        margin: 2%;
    }
    .columna .small{
        flex-basis: 90%;
    }
    .footli{
        display: none;
    }
    footer .menu{
        display: block;
    }
        
}
