*{
    padding: 0%;
    margin: 0%;
}
body{
    background-image: url(../img/fondo.jpg);
}
#contenedor{
    background-color: lightblue;
    background-image: url(../img/compritas.jpg);
    box-shadow: 2px 1px 24px 19px #3e88f7;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 1% auto 2%;
    padding: 4%;
    
}
h1{
    color: rgb(219, 54, 104);
    font-family: 'Gluten', cursive;
}
.general{
    background-color: lightsteelblue;
    margin: 1% ;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(10, 36, 85);
    border-radius: 10px;
   
}

table{
    width: 90%;
    margin: 1% auto;
    border-collapse: collapse;
}

th, td, tr{
    text-align: left;
    border-bottom: 1px solid rgb(82, 182, 168);
    padding: 2%;
}

#divSucursal{
    flex-basis: 1;
    width: 44%;
}

#divReportes{
    flex-basis: 1;
    width: 44%;
}

#divVentas{
    flex-basis: 2;
    width: 90%;
}
span{
    color:rgb(192, 12, 147);
    font-size: 1.3vw;
    font-weight: bold;  
}
.header{
    background-color: rgb(103, 160, 216);
    padding: 1em;
    border-radius: 10px;
    box-shadow: 2px 1px 24px 19px #6093f3;
}

.headerVentas{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.destacados{
    width: 90%;
    padding-top: 5%;
    margin: 1em auto;
    align-content: center;
}

.overlay{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 250%;
    background-color: rgba(145, 62, 212, 0.274);
    backdrop-filter: blur(5px);
    z-index: 101;
}

/*boton nueva venta*/
#nuevaVenta{
    background-color: lightgreen;
    color: rgb(81, 160, 199);
    padding: 0.8% 1%;
    border-radius: 10px;
    cursor: pointer;
}

/*modal*/
.modal{
    width: 25%;
    background-image: url();
    position: fixed;
    top: 15%;
    left: 40%;
    margin: 0% auto;
    color: white;
    font-family: 'Gluten', cursive;
    z-index: 102;
}
form{
    display: flex;
    flex-wrap: wrap;
}
.footer{
    background-color: rgba(56, 219, 219, 0.534);
    text-align: right;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 12px #35c0b4;
}
input{
    margin: 1% 5%;
    background-color: rgb(243, 193, 201);
    border-radius: 10px;
}
label{
    width: 90%;
    margin: 1% auto;

}
select{
    width: 90%;
    margin: 1% auto;
    background-color: rgb(243, 193, 201);
    border-radius: 10px;
}
.hidden{
    display: none;
}

.footer .button{
    padding: 0.8% 1%;
    border-radius: 10px;
    margin: 2%;
    cursor: pointer;
}
.cancelar{
    background-color: rgb(224, 102, 46);
}
.eliminar{
    background-color: rgb(223, 55, 55);
}
.green{
    background-color: lightgreen;
}
.btnacciones{
    padding: 2%;
    border-radius: 10px;
    margin: 1%;
    cursor: pointer;
    background-color: inherit;
    border: none;
    font-size: 1vw;
}
.verde{
    color: rgb(111, 137, 223);
}

.rojo{
    color: rgb(223, 55, 55);
}